- content_for :head do
  %script{src: 'https://www.gstatic.com/charts/loader.js'}

  :css
    .table-clean {
    }


  :javascript
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['table']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
      var jsonData = $.ajax({
          url: "/api/v1/pd/workshop_organizer_reports",
          dataType: "json",
          async: false
          }).responseText;

      // Create our data table out of JSON data loaded from server.
      var data = new google.visualization.DataTable(jsonData);

      // Instantiate and draw our chart, passing in some options.
      var table = new google.visualization.Table(document.getElementById('table_div'));

      table.draw(data, {
        cssClassNames: {
          headerRow: 'table-clean',
          headerCell: 'table-clean',
          tableRow: 'table-clean',
          oddTableRow: 'table-clean',
        }
      });
    }

%div{id: 'table_div', width:'100%'}
